.moderator{
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #1C0162;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    overflow-x: hidden;
}

/* For Webkit Chrome and Safari */
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background: #ffffff79;

}
::-webkit-scrollbar-thumb {
    background: linear-gradient(78deg, #ea7433 50%, #902dde 100%);
}
/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #902dde #ffffff79;
}

/* BACKGORUND */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}
.background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 110%;
    min-height: 110%;
    width: auto;
    height: auto;
    object-fit: cover;
    filter: blur(30px);
}
.background img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}
.background.leaderboard img {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* HEADER */
header.moderator {
    margin-top: 40px;
}
header.moderator .left-side img {
    width: 100%;
    max-width: 108px;
}
header.moderator .right-side img {
    width: 100%;
    max-width: 72px;
}
header.moderator .divider {
    border-left: 1px solid #FFF;
    opacity: .3;
    height: 50px;
    margin-left: 17px;
    margin-right: 17px;
}
header.moderator h2 {
    margin: 25px 0 25px 0;
    font-size: 0.750em;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(78deg, #ea7433 50%, #902dde 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

header.questions-select {
    margin-top: 10dvh;
}
header.questions-select img {
    width: 100%;
    max-width: 155px;
}
header.questions-select .divider {
    border-left: 1px solid #FFF;
    opacity: .3;
    height: 50px;
    margin-left: 35px;
    margin-right: 35px;
}
header.questions-select h3 {
    margin: 25px 0 25px 0;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(78deg, #ea7433 50%, #902dde 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

header.leaderboard {
    margin-top: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header.leaderboard .logo-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header.leaderboard .logo-header img {
    width: 100%;
    max-width: 345px;
}
header.leaderboard .break {
    margin-top: 25px;
}
header.leaderboard .break img {
    max-width: 100%;
    width: 609px;
}
.leaderboard-title h3 {
    margin: 20px 0 5px 0;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: 0.063em;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(78deg, #ea7433 50%, #902dde 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* TRIVIA CONTAINER */
.desktop .trivia-container-wrapper {
    position: relative;
    padding: 0;
}
.desktop .trivia-container-bottom {
    background: url('../src/assets/components/data-mod-bg-bottom.png') no-repeat center center !important;
    background-size: 100% auto;
    padding-top: calc(37 / 100 * 12%);
    margin-bottom: 50px;
}
.desktop .trivia-container-top {
    background: url('../src/assets/components/data-mod-bg-top.png') no-repeat center center !important;
    background-size: 100% auto;
    padding-top: calc(37 / 100 * 10%);
}
.desktop .trivia-container {
    background: url('../src/assets/components/data-mod-bg-middle.png') repeat-y center center !important;
    background-size: 100% auto;
    /* padding-top: calc(37 / 100 * 15%); */
    overflow-y: auto;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

/* LEADERBOARD */
.top-score-title h3 {
    margin: 20px 0 5px 0;
    font-size: 1.688em;
    letter-spacing: 0.063em;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(78deg, #ea7433 50%, #902dde 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.top-score-wrapper {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height: 50dvh;
    padding-top: calc(37 / 100 * 10%);
}
.trivia-container.carousel-leaderboard {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: visible;
}
.carousel-leaderboard {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 100%;
}
.top-score.bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    border-radius: 10px;
    width: 32%;
    transition: height 0.5s ease;
    margin: 0 22px;
    padding-top: 30px;
    background-color: rgb(0 8 33 / 20%);
}
.top-score.bar.winner {
    background: linear-gradient(78deg, #ea7433 1%, #902dde 75%);
} 
.trivia-container.carousel-leaderboard .top-score.bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #902dde, #ea7433) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.carousel-inner .leaderboard {
    height: 50dvh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 10px
}
.leaderboard .leaderboard-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    width: 70%;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.leaderboard .leaderboard-item.winner {
    width: 70% !important;
    transform: scale(1.1);
    margin-bottom: 20px;
    background: linear-gradient(78deg, #ea7433 1%, #902dde 75%);
}

.leaderboard .leaderboard-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #902dde, #ea7433) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}
.leaderboard .leaderboard-item .rank-box {
    border: 1px solid rgb(255 255 255 / 30%);
    background: rgb(255 255 255 / 30%);
    border-radius: 8px;
    width: fit-content;
    padding: 5px 12px;
    margin: 20px;
}
.leaderboard .leaderboard-item .leadboard-name {
    display: flex;
    align-items: center;
    margin-right: auto;
    font-size: 1.375em;
}
.leaderboard .leaderboard-item .divider {
    background-color: rgba(255, 255, 255, 0.40);
    opacity: .5;
    width: 1px;
    min-height: 100%;
    height: auto;
    align-self: stretch;
    margin-top: 1px;
    margin-bottom: 1px;
}
.leaderboard .leaderboard-item.winner .divider {
    background-color: transparent;
}
.leaderboard .leaderboard-item .points {
    margin: 20px;
    text-align: center;
}
.leaderboard .leaderboard-item .value {
    display: block;
    font-size: 1.188em;
    font-weight: 600;
    line-height: 0.563em;
    text-align: center;
}
.leaderboard .leaderboard-item .unit {
    display: block;
    font-size: 0.813em;
    font-weight: 400;
}
.leaderboard .leaderboard-break {
    background-color: white;
    width: 100%;
    max-width: 255px;
    height: 1px;
    margin: 15px auto 20px auto;
    opacity: .4;
}
#leaderboard-moderator #pos1, #leaderboard-moderator #pos2, #leaderboard-moderator #pos3, .leaderboard-item.stag {
    opacity: 0;
}

.carousel {
    width: 100%;
    padding-top: calc(37 / 100 * 10%);
    padding-bottom: calc(37 / 100 * 15%);
    max-height: 55dvh;
}
.carousel-indicators {
    bottom: -90px;
}
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #902DDE;
    opacity: .5;
    pointer-events: none;
}
.carousel-indicators .active {
    opacity: 1;
}

.carousel-leaderboard .top-score.bar .rank-box {
    position: absolute;
    top: -80px;
    border: 1px solid rgb(255 255 255 / 30%);
    background: rgb(255 255 255 / 30%);
    border-radius: 8px;
    width: fit-content;
    padding: 10px 24px;
    font-size: 1.563em;
}
.carousel-leaderboard .top-score.bar .points {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-leaderboard .top-score.bar .points .value {
    display: block;
    font-size: 2.250em;
    font-weight: 600;
    line-height: 0.563em;
}
.carousel-leaderboard .top-score.bar .points .unit {
    display: block;
    font-size: 1.563em;
    line-height: 2;
    font-weight: 400;
    opacity: .5;
}
.carousel-leaderboard .top-score.bar .leadboard-name {
    font-size: 1.375em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}
.carousel-leaderboard .top-score.bar .divider {
    height: 1px;
    background-color: white;
    opacity: .5;
    width: 65%;
    margin-top: 10px;
    margin-bottom: 15px;
}
    /* Positions heights */
    #pos1 { height: calc(100% - 50px); }
    #pos2 { height: calc(80% - 50px); }
    #pos3 { height: calc(60% - 50px); }


/* FOOTER */
footer {
    bottom: 40px;
}
footer .border {
    border-bottom: 2px solid #FFFFFF;
    opacity: .3;
}
footer .logo-image {
    padding-right: 40px;
    padding-left: 40px;
}
footer img {
    width: 100%;
    max-width: 72px;
}

footer .joining-late {
    width: 100%;
    max-width: 250px;
    display: flex;
    align-items: center;
    margin-top: calc(100dvh - 250px);
}
footer .joining-late img {
    width: 100%;
    min-width: 68px;
}
footer .joining-late span {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.125em;
    font-weight: 500;
    letter-spacing: .05em;
    background: linear-gradient(78deg, #ea7433 50%, #902dde 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
}
footer .joining-late p {
    font-size: 0.875em;
}

/* QUESTIONS SETS SCREEN */
.sets-container {
    margin-top: 3em;
    margin-bottom: 10dvh;
}
.sets-container .title {
    font-size: 1.313em;
    font-weight: 400;
    letter-spacing: 0.033em;
    text-align: center;
    margin-bottom: 1.5em;
}
.sets-container .sets .day {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
    background-color: rgba(0, 8, 33, 0.2);
    transition: transform 0.5s ease;
    cursor: pointer;
    font-weight: 300;
    box-shadow: 6px 3px 20px 8px rgba(13, 10, 35, 0.15);
    pointer-events: none;
}
.sets-container .sets .day.selected {
    transform: scale(1.06) !important;
    background: rgb(147,36,149) !important;
    background: linear-gradient(135deg, rgba(147,36,149,1) 0%, rgba(75,0,107,1) 100%) !important;
    cursor: auto;
}
.sets-container .sets .day::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #902dde, #ea7433) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}
.sets-container .sets .day:hover {
    transform: scale(1.06) !important;
    background: rgb(147,36,149) !important;
    background: linear-gradient(135deg, rgba(147,36,149,1) 0%, rgba(75,0,107,1) 100%) !important;
}
.sets-container .sets .day span {
    font-size: 1.250em;
    font-weight: 500;
    background: linear-gradient(78deg, #ea7433 50%, #902dde 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom:	0.750em;
}
.sets-container .sets .day ul {
    font-size: 0.938em;
    line-height: 1.188em;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sets-container .sets .day ul li {
    margin-bottom: 0.875em;
}
.sets-container .button-start {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    transition: transform 0.5s ease;
}
.sets-container .button-start:active {
    transform: scale(1.06);
}
.sets-container .button-start button {
    width: 100%;
    max-width: 408px;
    padding: 15px;
    border: 0;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.125em;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    background-color: #C728C9;
}
#questions-sets .stag, #questions-sets .stag2, #questions-sets .stag3 {
    opacity: 0;
}

/* QR START PAGE */
.qr-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100dvh - 105px);
    flex-direction: column;
}
.qr-start {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qr-start .time {
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.qr-start .time h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: .05em;
    background: linear-gradient(78deg, #ea7433 50%, #902dde 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
}
.qr-start .time span {
    font-size: 3.25em;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}
.qr-start .soon span {
    font-size: 5em;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.qr-start .soon {
    -webkit-animation: pulsate-fwd 3s ease-in-out infinite both;
    animation: pulsate-fwd 3s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-fwd {
    0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
    50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    }
    100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
}
@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}


.qr-start button.start {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 408px;
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.125em;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    background-color: #C728C9;
    box-shadow: 0px 7px 18px rgba(234, 116, 51, 0.2);
    transition: transform 0.5s ease;
}
.qr-start button.pause {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 408px;
    padding: 15px;
    border: 2px solid;
    border-color: rgba(198, 40, 201, 0.45);
    border-radius: 5px;
    color: #DD5EDF;
    font-weight: 500;
    font-size: 1.125em;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    background-color: transparent;
    box-shadow: 0px 7px 18px rgba(234, 116, 51, 0.2);
    transition: transform 0.5s ease;
}
.qr-start button.start:hover {
    background-color: transparent;
    color: #DD5EDF;
    border: 2px solid;
    border-color: rgba(198, 40, 201, 0.45);
}
.qr-start button.pause:hover {
    background-color: #C728C9;
    color: #FFFFFF;
}
.qr-start button.start:active, .qr-start button.pause:active {
    transform: scale(1.06);
}
#qr-start .stag {
    opacity: 0;
}
.qr-box {
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.qr-title {
    align-items: center;
    text-align: center;
    margin-top: 80px;
}
.qr-title h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    letter-spacing: .05em;
    background: linear-gradient(78deg, #ea7433 50%, #902dde 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
    margin-bottom: 10px;
}
.steps {
    height: 100%;
    max-height: 171px;
    display: flex;
    flex-direction: column;
    margin-left: 23px;
    justify-content: space-between;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}
.step {
    display: flex;
    align-items: center;
    font-size: 1.125em;
    margin-bottom: 10px;
}
.step img {
    width: 100%;
    max-width: 38px;
    margin-right: 13px;
}

/* COUNTDOWN */
.countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    height: 25dvw;
    max-height: 400px;
    margin: 0 auto;
    background-color: rgb(0 8 33 / 20%);
}
.countdown::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #902dde, #ea7433) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}
.countdown p {
    text-transform: uppercase;
    font-size: 2em;
    line-height: 4em;
    font-weight: 500;
    letter-spacing: 0.063em;
    margin: 0;
}
.countdown span {
    font-size: 3em;
    line-height: .7em;
    font-weight: 600;
    padding-bottom: .55em;
}
#countdown-moderator .stag {
    opacity: 0;
}

/* QUESTION PAGE */
.container-question {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.question {
    letter-spacing: 0.188em;
    margin-top: 8dvh;
}
.question p {
    text-transform: uppercase;
    font-size: 1.250em;
    font-weight: 300;
    margin-left: 30px;
    margin-bottom: 15px;
}
.question span {
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 500;
}
.question-box {
    transform: translate(0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 35px;
    margin: 0 auto;
    background-color: rgb(0 8 33 / 20%);
}
.question-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #902dde, #ea7433) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}
.question .question-box p {
    text-transform: none;
    font-size: 3.125em;
    line-height: 1.2;
    font-weight: 300;
}
.question img {
    width: 100%;
    max-width: 350px;
    margin-top: 35px;
}
.question .countdown-wrapper {
    margin-top: 55px;
    display: flex;
    justify-content: center;
}
.question .countdown-circle {
    width: 194px;
    height: 194px;
    border-radius: 50%;
    position: relative;
    border: 9px solid rgba(230, 27, 183, 0.25);
  }
.question .countdown-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.375em;
    font-weight: 500;
    color: #E61BB6;
}
#questions-moderator .stag {
    opacity: 0;
}

/* THANKS PAGE */
.thanks {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.thanks p {
    font-size: 4.063em;
    line-height: 1.2;
    font-weight: 300;
    margin: 0;
}
.thanks span {
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
}
.thanks img {
    margin-top: 30px;
    margin-bottom: 60px;
}
.thanks button {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 408px;
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.125em !important;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    background-color: #C728C9;
    box-shadow: 0px 7px 18px rgba(234, 116, 51, 0.2);
    transition: transform 0.5s ease;
}
.thanks button:hover {
    background-color: transparent;
    color: #DD5EDF;
    border: 2px solid;
    border-color: rgba(198, 40, 201, 0.45);
}
.thanks button:active {
    transform: scale(1.06);
}
#thanks .stag {
    opacity: 0;
}
}