@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #1C0162;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 16px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    overflow-x: hidden;
  }
.common{
/* BACKGORUND */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}
.background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 110%;
    min-height: 110%;
    width: auto;
    height: auto;
    object-fit: cover;
    filter: blur(30px);
}

.main-bg, .top-bg, .bottom-bg {
    position: absolute;
}

.main-bg {
    width: 100%;
    height: 100%;
}

.top-bg, .bottom-bg {
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 375px;
    height: auto;
}

.top-bg {
    top: 0;
}

.bottom-bg {
    bottom: 0;
}

.container {
    position: relative;
    z-index: 1;
    min-height: 100vh;
}

/* For Webkit Chrome and Safari */
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background: #ffffff79;

}
::-webkit-scrollbar-thumb {
    background: linear-gradient(78deg, #ea7433 50%, #902dde 100%);
}
/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #902dde #ffffff79;
}

  /* LOGIN */
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10dvh;
}
.logo-login {
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
}
.logo-login img {
    width: 100%;
    max-width: 285px;
}
.login .stag, .login .stag2 {
    opacity: 0;
}
.text-login {
    width: 100%;
}
.text-login h2 {
    width: 100%;
    font-size: 1.375em;
    font-weight: 500;
    background: linear-gradient(78deg, #ea7433 50%, #902dde 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.text-login p {
    width: 100%;
    font-size: 1em;
    font-weight: 300;
}
.text-login p.fw-bold {
    font-weight: 500 !important;
}
.status-login p {
    width: 100%;
    text-align: center;
    font-size: 1.125em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}
.status-login span {
    color: #E7713A;
    opacity: .8;
}
.status-login span.fw-bold {
    font-weight: 500 !important;
}

form div {
    margin-bottom: 25px;
}
input {
    display: block;
    width: 100%;
    height: 60px;
    padding: 20px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    background-clip: padding-box;
    border: solid 1px #ced4da;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
input::placeholder {
    color: #FFFFFF;
}
select {
    display: block;
    width: 100%;
    height: 60px;
    padding: 20px;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    background-image: url(../src/assets/components/select.svg);
    background-repeat: no-repeat;
    background-position: right .75rem center;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select::placeholder {
    color: #FFFFFF;
}
option {
    color: #000;
}
.btn-wrapper {
    height: 60px;
    display: inline-block;
    padding: 1px;
    background: linear-gradient(78deg, #902dde 1%, #ea7433 75%), linear-gradient(to right, #902dde 9%, #ea7433 89%);
    border-radius: 5px;
}
.btn-custom {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 15px;
    border-radius: 3px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(78deg, #ea7433 1%, #902dde 75%), linear-gradient(to left, #ea7433 89%, #902dde 9%);
    box-shadow: 0 5px 18px 0 rgba(255, 36, 197, 0.52);
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1.063em;
    font-weight: 500;
    letter-spacing: 0.03em;
}
.btn-custom:hover {
    color: #ea7433;
}
.invalid-tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 5;
    display: none;
    max-width: 100%;
    padding: .25rem .5rem;
    margin-top: .1rem;
    font-size: .875rem;
    white-space: nowrap;
    color: #fff;
    background: linear-gradient(78deg, #902dde 1%, #ea7433 75%), linear-gradient(to right, #902dde 9%, #ea7433 89%);
    box-shadow: 0 5px 18px 0 rgba(255, 36, 197, 0.52);
    border-radius: 5px;
    transform: translateX(-50%);
}
.invalid-tooltip::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid rgba(234, 116, 51, 0.902);
    box-shadow: 0 5px 18px 0 rgba(255, 36, 197, 0.52);
}

/* TRIVIA CONTAINER */
.trivia-container-wrapper {
    position: relative;
    padding: 0;
}
.trivia-container-bottom {
    background: url('../src/assets/components/data-bg-bottom.png') no-repeat center center;
    background-size: 100% auto;
    padding-top: calc(37 / 100 * 20%);
    margin-bottom: 50px;
}
.trivia-container-top {
    background: url('../src/assets/components/data-bg-top.png') no-repeat center center;
    background-size: 100% auto;
    padding-top: calc(37 / 100 * 30%);
}
.trivia-container {
    background: url('../src/assets/components/data-bg-middle.png') repeat-y center center;
    background-size: 100% auto;
    padding-top: calc(37 / 100 * 15%);
    overflow-y: auto;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

/* TRIVIA CONTAINER DESKTOP */
.desktop .trivia-container-wrapper {
    position: relative;
    padding: 0;
}
.desktop .trivia-container-bottom {
    background: url('../src/assets/components/data-mod-bg-bottom.png') no-repeat center center !important;
    background-size: 100% auto !important;
    padding-top: calc(37 / 100 * 12%)!important;
    margin-bottom: 50px !important;
}
.desktop .trivia-container-top {
    background: url('../src/assets/components/data-mod-bg-top.png') no-repeat center center !important;
    background-size: 100% auto !important;
    padding-top: calc(37 / 100 * 10%)!important;
}
.desktop .trivia-container {
    background: url('../src/assets/components/data-mod-bg-middle.png') repeat-y center center !important;
    background-size: 100% auto !important;
    /* padding-top: calc(37 / 100 * 15%); */
    padding-top: inherit !important;
    overflow-y: auto ;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}

/* TRIVIA CONTAINER DESKTOP MOBIEL*/
.mobile .trivia-container-wrapper {
    position: relative !important;
    padding: 0 !important;
}
.mobile .trivia-container-bottom {
    background: url('../src/assets/components/data-bg-bottom.png') no-repeat center center !important;
    background-size: 100% auto !important;
    padding-top: calc(37 / 100 * 20%) !important;
    margin-bottom: 50px !important;
}
.mobile .trivia-container-top {
    background: url('../src/assets/components/data-bg-top.png') no-repeat center center !important;
    background-size: 100% auto !important;
    padding-top: calc(37 / 100 * 30%) !important;
}
.mobile .trivia-container {
    background: url('../src/assets/components/data-bg-middle.png') repeat-y center center !important;
    background-size: 100% auto !important;
    padding-top: calc(37 / 100 * 15%) !important;
    overflow-y: auto;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
}


/* FEEDBACK TOAST */
#feedback-message {
    position: fixed;
    height: 50px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 55px 40px 60px;
    background-color: rgb(149, 44, 226);
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.875em;
    letter-spacing: 0.063em;
    font-weight: 500;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
    transition: bottom 0.5s ease 0s;
  }
  #feedback-message p {
    font-size: 0.875em;
  }
  #feedback-message span {
    margin-top: 10px;
    font-size: 1.063em;
    font-weight: 300;
  }
  .feedback-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
  #feedback-message p, #feedback-message img {
    margin: 0;
    margin-right: 10px;
    padding: 0;
  }
  #feedback-message img {
    width: 60%;
    height: 60%;
    margin-left: 10px;
  }
  #feedback-message.correct {
    background: rgb(35,139,35);
    background: linear-gradient(0deg, rgba(35,139,35,1) 0%, rgba(73,179,73,1) 100%);
  }
  #feedback-message.correct img {
    max-width: 20px;
    max-height: 20px;
  }
  #feedback-message.incorrect {
    background: rgb(176,12,48);
    background: linear-gradient(0deg, rgba(176,12,48,1) 0%, rgba(116,16,45,1) 100%);
  }
  #feedback-message.incorrect img {
    max-width: 20px;
    max-height: 20px;
  }
  .feedback-hidden {
    bottom: -130px !important;
  }

/* SCREENS */
.container.screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
  }
.screen header {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.screen .logo-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.screen .logo-header img {
    width: 100%;
    max-width: 198px;
}
.screen .break {
    margin-top: 10px;
}

/* TIME SCREEN */
.screen .time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
  }
.screen .time h3 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    background: linear-gradient(78deg, #ea7433 50%, #902dde 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
}
.screen .time span {
    font-size: 5.625em;
    line-height: 1.2;
    font-weight: bold;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}

.screen .time .soon{
    font-size: 1.500em;
    text-transform: uppercase;

}

.screen .get_set{ 
    -webkit-animation: pulsate-fwd 3s ease-in-out infinite both;
    animation: pulsate-fwd 3s ease-in-out infinite both;
}

.screen .game .soon{
    -webkit-animation: pulsate-fwd 3s ease-in-out infinite both;
    animation: pulsate-fwd 3s ease-in-out infinite both;
}

.screen .game .connecting h3{
    color: #FFFFFF !important;
}

@-webkit-keyframes pulsate-fwd {
    0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
    50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    }
    100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    }
}
@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.05);
                transform: scale(1.05);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}


/* COUNTDOWN */
.countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    height: 70vw;
    max-height: 400px;
    margin: 0 auto;
    background-color: rgb(0 8 33 / 20%);
}
.countdown::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #902dde, #ea7433) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}
.countdown .stag{
    opacity: 0;
}
.countdown p {
    text-transform: uppercase;
    font-size: 1.563em;
    line-height: 4em;
    margin: 0;
    position: relative;
    /* margin-top: 10px; */
}
.countdown span {
    font-size: 9.375em;
    line-height: .7em;
    font-weight: 600;
    padding-bottom: .20em;
    position: relative;
}
 

/* QUESTIONS */
.questions-title h4 {
    margin: 25px 0 25px 0;
    font-size: 0.875em;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(78deg, #ea7433 50%, #902dde 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.question-box {
    width: 100%;
    display: flow-root;
    position: relative;
    padding: 15px;
    background-color: rgba(0, 8, 33, 0.20);
    border-radius: 10px;
    box-shadow: 0 5px 18px 0 rgba(4, 2, 29, 0.50);
}
.question-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    border: 1px solid transparent;
    background: linear-gradient(45deg, purple, orange) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}
.question-box .question-content p.question-position {
    font-size: 0.750em;
    font-weight: 300;
    line-height: 1.4;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.question-box .question-content span.current-position {
    font-weight: 600;
}
.question-box .question-content h2.question-text {
    font-size: 1.188em;
    font-weight: 400;
    line-height: 1.4;
    margin: 0 0 10px 0;
    padding-right: 5px;
}
.questions .stag{
    opacity: 0;
}

.questions .stag2{
    opacity: 0;
}

.countdown-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
}
.countdown-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    border: 2px solid rgba(230, 27, 183, 0.25);
  }
.countdown-number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    font-weight: 500;
    color: #E61BB6;
}

.answers-box {
    margin-top: 40px;
}
.answer-option {
    position: relative;
    opacity: 0;
}
.answers-box button.answer-option {
    width: 100%;
    margin-bottom: 20px;
    display: flow-root;
    position: relative;
    padding: 20px;
    background-color: rgba(149, 44, 226, 0.20);
    border-radius: 10px;
    // box-shadow: 0 5px 18px 0 rgba(4, 2, 29, 0.50);
    color: white;
    border: none;
    font-size: 1.063em;
    font-weight: 400;text-align: left;
}
.opt-selected{
    -webkit-animation: pulsate-bck 0.7s ease-in-out both;
	animation: pulsate-bck 0.7s ease-in-out both;
}

@-webkit-keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }

.opt-shake {
	-webkit-animation: shake-horizontal 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-horizontal 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
    }
    80% {
      -webkit-transform: translateX(3px);
              transform: translateX(3px);
    }
    90% {
      -webkit-transform: translateX(-3px);
              transform: translateX(-3px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
    }
    80% {
      -webkit-transform: translateX(3px);
              transform: translateX(3px);
    }
    90% {
      -webkit-transform: translateX(-3px);
              transform: translateX(-3px);
    }
  }

.answers-box button.answer-option::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, purple, orange) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}
.answers-box button.answer-option.correct{
    background-image: linear-gradient(78deg, #ea7433 1%, #902dde 75%), linear-gradient(to left, #ea7433 89%, #902dde 9%);
    pointer-events: none;
}
.answer-option.correct::after {
    background-image: url('../src/assets/components/correct.svg');
    content: '';
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 55%;
    right: -30px;
    transform: translateY(-50%);
}
.answers-box button.answer-option.incorrect{
    background-image: linear-gradient(90deg, #ef1111b3, #a31a1a99);
    pointer-events: none;
}
.answer-option.incorrect::after {
    background-image: url('../src/assets/components/incorrect.svg');
    content: '';
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 55%;
    right: -30px;
    transform: translateY(-50%);
}
.answer-option.incorrect::before {
    background-image: none !important;
    background-color: #FFFFFF !important;
}
.answer-option.disabled {
    opacity: .5;
    pointer-events: none;
}

/* LEADERBOARD */

.leaderboard-title h3 {
    margin: 20px 0 5px 0;
    font-size: 1.375em;
    letter-spacing: 0.063em;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(78deg, #ea7433 50%, #902dde 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.leaderboard.mobile .leaderboard-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 290px;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 100%;
    padding-right: 58px
}
.leaderboard.mobile .leaderboard-item.winner {
    max-width: 280px;
    background: linear-gradient(78deg, #ea7433 1%, #902dde 75%);
} 
.leaderboard .leaderboard-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #902dde, #ea7433) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}
.leaderboard .leaderboard-item .rank-box {
    border: 1px solid rgb(255 255 255 / 30%);
    background: rgb(255 255 255 / 30%);
    border-radius: 8px;
    width: fit-content;
    padding: 5px 12px;
    margin: 20px 15px 20px 20px;
}
.leaderboard .leaderboard-item .leadboard-name {
    margin-right: auto;
    font-size: 1em;
    line-height: 1.2em;
    padding-right: 10px;
}
.leaderboard .leaderboard-item .divider {
    width: 1px;
    background-color: white;
    opacity: .5;
    height: 100%;
    display: none;
}
.leaderboard .leaderboard-item .points {
    margin: 20px;
    text-align: center;
    position: absolute;
    right: 0;
}
.leaderboard .leaderboard-item .value {
    display: block;
    font-size: 1.188em;
    font-weight: 600;
    line-height: 0.563em;
}
.leaderboard .leaderboard-item .unit {
    display: block;
    font-size: 0.625em;
    font-weight: 400;
}
.leaderboard .leaderboard-break {
    background-color: white;
    width: 100%;
    max-width: 255px;
    height: 1px;
    margin: 15px auto 20px auto;
    opacity: .4;
}
.leaderboard .stag, .leaderboard .stag2 {
    opacity: 0;
}

/* TOP SCORE */
.top-score-title h3 {
    margin: 20px 0 5px 0;
    font-size: 1.688em;
    letter-spacing: 0.063em;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(78deg, #ea7433 50%, #902dde 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.top-score.stag, .top-score.stag2, .top-score.stag3 {
    opacity: 0;
}
.trivia-container.podium {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    padding-left: 8%;
    padding-right: 8%;
}
.podium {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height: 50dvh;
    padding-bottom: calc(37 / 100 * 15%);
}
.podium .top-score.bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    border-radius: 10px;
    width: 32%;
    transition: height 0.5s ease;
    margin: 0 8px;
    padding-top: 30px;
    background-color: rgb(0 8 33 / 20%);
}
.podium .top-score.bar.winner {
    background: linear-gradient(78deg, #ea7433 1%, #902dde 75%);
} 
.trivia-container.podium .top-score.bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #902dde, #ea7433) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}
.podium .top-score.bar .rank-box {
    position: absolute;
    top: -50px;
    border: 1px solid rgb(255 255 255 / 30%);
    background: rgb(255 255 255 / 30%);
    border-radius: 8px;
    width: fit-content;
    padding: 5px 12px;
}
.podium .top-score.bar .points {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.podium .top-score.bar .points .value {
    display: block;
    font-size: 1.563em;
    font-weight: 600;
    line-height: 0.563em;
}
.podium .top-score.bar .points .unit {
    display: block;
    font-size: 0.938em;
    line-height: 2;
    font-weight: 400;
    opacity: .5;
}
.podium .top-score.bar .leadboard-name {
    font-size: 0.750em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}
.podium .top-score.bar .divider {
    height: 1px;
    background-color: white;
    opacity: .5;
    width: 65%;
    margin-top: 10px;
    margin-bottom: 15px;
}
    /* Positions heights */
    #pos1 { height: calc(100% - 50px); }
    #pos2 { height: calc(80% - 50px); }
    #pos3 { height: calc(60% - 50px); }

/* WAITING */
.waiting {
    display: grid;
    place-items: center;
    align-content: center;
    height: 100dvh;
    text-align: center;
    margin: 0 auto;
}
.waiting p {
    font-size: 1.563em;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 1rem;
}
.waiting .spinner-border {
    animation: spinner-border 1.5s ease-in-out infinite;
    animation-timing-function: cubic-bezier(.22,.8,.8,.39);
}



/* LEADERBOARD */
.top-score-title h3 {
    margin: 20px 0 5px 0;
    font-size: 1.688em;
    letter-spacing: 0.063em;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(78deg, #ea7433 50%, #902dde 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.top-score-wrapper {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 100%;
    height: 50dvh;
    padding-top: calc(37 / 100 * 10%);
}
.trivia-container.carousel-leaderboard {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: visible;
}
.carousel-leaderboard {
    display: flex;
    align-items: flex-end;
    position: relative;
    width: 100%;
}
.top-score.bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    border-radius: 10px;
    width: 32%;
    transition: height 0.5s ease;
    margin: 0 22px;
    padding-top: 30px;
    background-color: rgb(0 8 33 / 20%);
}
.top-score.bar.winner {
    background: linear-gradient(78deg, #ea7433 1%, #902dde 75%);
} 
.trivia-container.carousel-leaderboard .top-score.bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #902dde, #ea7433) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

.carousel-inner .leaderboard {
    height: 50dvh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 10px
}
.leaderboard .leaderboard-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px;
    width: 70%;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.leaderboard .leaderboard-item.winner {
    width: 70%;
    transform: scale(1.1);
    margin-bottom: 20px;
    background: linear-gradient(78deg, #ea7433 1%, #902dde 75%);
} 

.mobile .leaderboard-item.winner {
    width: 90% !important;
}

.leaderboard .leaderboard-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    border: 1px solid transparent;
    background: linear-gradient(90deg, #902dde, #ea7433) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}
.leaderboard .leaderboard-item .rank-box {
    border: 1px solid rgb(255 255 255 / 30%);
    background: rgb(255 255 255 / 30%);
    border-radius: 8px;
    width: fit-content;
    padding: 5px 12px;
    margin: 20px;
}
.leaderboard .leaderboard-item .leadboard-name {
    display: flex;
    align-items: center;
    margin-right: auto;
    font-size: 1.375em;
}
.leaderboard .leaderboard-item .divider {
    background-color: rgba(255, 255, 255, 0.40);
    opacity: .5;
    width: 1px;
    min-height: 100%;
    height: auto;
    align-self: stretch;
    margin-top: 1px;
    margin-bottom: 1px;
}
.leaderboard .leaderboard-item.winner .divider {
    background-color: transparent;
}
.leaderboard .leaderboard-item .points {
    margin: 20px;
    text-align: center;
}
.leaderboard .leaderboard-item .value {
    display: block;
    font-size: 1.188em;
    font-weight: 600;
    line-height: 0.563em;
    text-align: center;
}
.leaderboard .leaderboard-item .unit {
    display: block;
    font-size: 0.813em;
    font-weight: 400;
}
.leaderboard .leaderboard-break {
    background-color: white;
    width: 100%;
    max-width: 255px;
    height: 1px;
    margin: 15px auto 20px auto;
    opacity: .4;
}
#leaderboard-moderator #pos1, #leaderboard-moderator #pos2, #leaderboard-moderator #pos3, .leaderboard-item.stag {
    opacity: 0;
}

.carousel {
    width: 90%;
    padding-top: calc(37 / 100 * 10%);
    padding-bottom: calc(37 / 100 * 15%);
    max-height: 55dvh;
}
.carousel-indicators {
    bottom: -90px;
}
.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #902DDE;
    opacity: .5;
    pointer-events: none;
}
.carousel-indicators .active {
    opacity: 1;
}

.carousel-leaderboard .top-score.bar .rank-box {
    position: absolute;
    top: -80px;
    border: 1px solid rgb(255 255 255 / 30%);
    background: rgb(255 255 255 / 30%);
    border-radius: 8px;
    width: fit-content;
    padding: 10px 24px;
    font-size: 1.563em;
}
.carousel-leaderboard .top-score.bar .points {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-leaderboard .top-score.bar .points .value {
    display: block;
    font-size: 2.250em;
    font-weight: 600;
    line-height: 0.563em;
}
.carousel-leaderboard .top-score.bar .points .unit {
    display: block;
    font-size: 1.563em;
    line-height: 2;
    font-weight: 400;
    opacity: .5;
}
.carousel-leaderboard .top-score.bar .leadboard-name {
    font-size: 1.375em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80%;
}
.carousel-leaderboard .top-score.bar .divider {
    height: 1px;
    background-color: white;
    opacity: .5;
    width: 65%;
    margin-top: 10px;
    margin-bottom: 15px;
}
    /* Positions heights */
    #pos1 { opacity: 0; height: calc(100% - 50px); }
    #pos2 { opacity: 0; height: calc(80% - 50px); }
    #pos3 { opacity: 0; height: calc(60% - 50px); }



    .leaderboard .leaderboard-item .leadboard-name {
        margin-right: auto;
        font-size: 1em;
        line-height: 1.2em;
    }
    .leaderboard .leaderboard-item {
    padding-right: 58px
    }
    .leaderboard .leaderboard-item .points {
        margin: 20px;
        text-align: center;
        position: absolute;
        right: 0;
    }


  
/* MEDIA QUERIES */
@media (max-width: 991.98px) {
    .background video {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -50%);
        min-width: 110%;
        min-height: 110%;
        width: auto;
        height: auto;
        object-fit: cover;
        filter: blur(30px);
    }
    .screen header {
        margin-top: 30%;
    }
}
@media (max-width: 575.98px) { 
    // .background video {
    //     animation: rotate 30s infinite linear;
    //     min-width: 150%;
    //     min-height: 150%;
    // }

    // @keyframes rotate {
    //     0% {
    //       transform: translate(-50%, -50%) rotate(0deg);
    //     }
    //     100% {
    //       transform: translate(-50%, -50%) rotate(360deg);
    //     }
    // }
}


@media (min-width: 575.98px) and (orientation: landscape) { 
    .answers-box button.answer-option:hover{
        background-image: linear-gradient(78deg, #ea7433 1%, #902dde 75%), linear-gradient(to left, #ea7433 89%, #902dde 9%);
    }
}

@media (max-height: 840px) {
  .countdown {
    max-height: calc(100vh - 440px);
  }
}

}
