.mycountdown{
  display: flex;
  justify-content: center;
  color: #f87b30;
  .timer {
    font-family: "Montserrat";
    display: flex;
    flex-direction: column;
    align-items: center;
    .text {
      color: #aaa;
    }
    
    .value {
      font-size: 40px;
    }
  }
}