.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  .question-box{
    display: flex;
    min-width: 250px;
    row-gap: 15px;
    padding: 15px;
    background: #471080;
    border-radius: 5px;
    border: 1px solid #c63659;
    flex-direction: column;
    row-gap: 5px;
    color: white;
    .counter{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .header{
        color: #c5abdf;
        font-size: 12px;
      }
    }
    .text{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }
  .answer{
    display: flex;
    min-width: 250px;
    padding: 15px;
    background: #0b0534;
    border-radius: 5px;
    border: 1px solid #c63659;
    &.selected{
      background: #aea9a9;
      border: 1px solid #c63659;
    } 
    .key{
      padding-right: 10px;
    }
  }
}

.questions_answer{
  margin-bottom: 120px;
}