.admin{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  .trivias{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    .trivia{
      display: flex;
      flex-direction: row;
      align-items: center;
      min-width: 250px;
      justify-content: space-between;
    }
  }
  .countdown{
    
  }
}

.qr-image{
  padding: 8px;
  background-color: white;
  margin-top: 10px;
}

.qr-start .time span {
  font-size: 11.250em;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.question-title{
  padding-left: 0px !important;
}