// Thanks Mobile

#reconnecting {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #reconnecting p {
    font-size: 1.375em;
    line-height: 1.2;
    font-weight: 300;
    margin: 0;
  }
  #reconnecting span {
    line-height: 1.2;
    font-weight: 400;
    margin: 0;
  }
  #reconnecting img {
    margin-top: 30px;
    margin-bottom: 60px;
  }