#notfound{
    width:100%;
    display: flex;
    flex-direction: column;
    .row{
        display: flex;
        flex-direction: column;
        /* align-content: center; */
        text-align: center;
    }
}