/* THANKS PAGE */
.thanks {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.thanks p {
  font-size: 4.063em;
  line-height: 1.2;
  font-weight: 300;
  margin: 0;
}
.thanks span {
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
}
.thanks img {
  margin-top: 30px;
  margin-bottom: 60px;
}
.thanks button {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 408px;
  padding: 15px;
  border: 2px solid transparent;
  border-radius: 5px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 1.125em !important;
  letter-spacing: 0.125em;
  text-transform: uppercase;
  background-color: #C728C9;
  box-shadow: 0px 7px 18px rgba(234, 116, 51, 0.2);
  transition: transform 0.5s ease;
}
.thanks button:hover {
  background-color: transparent;
  color: #DD5EDF;
  border: 2px solid;
  border-color: rgba(198, 40, 201, 0.45);
}
.thanks button:active {
  transform: scale(1.06);
}
#thanks .stag {
  opacity: 0;
}



// Thanks Mobile

#thanksMobile, #ThanksEnded {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#thanksMobile p, #ThanksEnded p {
  font-size: 1.375em;
  line-height: 1.2;
  font-weight: 300;
  margin: 0;
}
#thanksMobile span, #ThanksEnded span {
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
}
#thanksMobile img {
  margin-top: 30px;
  margin-bottom: 60px;
}