.join{
  display: flex;
  flex-direction: column;
  align-items: center;
  .title{
    padding-bottom: 40px;
  }
  form > div{
    padding-bottom: 20px;
  }
  .button{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}